* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}

p {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
/*   background-color: rgb(5, 51, 95);
 */
.navbar-containr {
  padding-top: 5px;
  width: 100%;
  background-color: rgba(33, 3, 80, 0.753);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -60px;
  z-index: 10;
  position: fixed;
  top: 0;
}

.nav_link {
  margin: 0 20px 0 10px;
}

.nav_link p {
  transition: transform 0.4s;
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.nav_link p:hover {
  color: rgb(241, 245, 8);
  transform: scale(1.1);
}

.hero_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-image: url("./assets/images/hero1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% auto;
  background-color: rgb(0, 0, 0);
}

.hero_text h1 {
  color: white;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  text-shadow: 2px 2px rgb(3, 3, 58);
  margin-bottom: 50px;
}

.hero_sub_text {
  font-style: italic;
  color: rgb(216, 88, 14);
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 1px rgb(0, 0, 0);
  max-width: 600px;
  margin: 0 auto;
}

.hero_sub_text span {
  color: rgb(216, 88, 14);
}

/* HOME PAGE */
.home_header {
  color: rgb(216, 88, 14);
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}

.home_services,
.home_about {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.home_services p,
.home_about p {
  color: rgb(221, 87, 9);
}
.home_services_image {
  margin-right: 20px;
}

.home_services_list ul li {
  list-style: square;
  color: rgb(216, 88, 14);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact_list ul li {
  list-style: none;
  color: rgb(216, 88, 14);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about_us {
  padding: 10px;
  border-radius: 6px;
  text-align: left;
}

.about_us p {
  font-size: 24px;
}
/* MEDIA QUERIES */

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {

  .nav_link {
    margin: 0 10px 0 5px;
  }
  .navbar-containr {
    height: 50px;
  }
  .nav_link p {
    font-size: 18px;
    font-weight: 400;

    font-weight: 700;
  }
  .hero_container {
    height: 250px;
  }

  .hero_text h1 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .hero_sub_text {
    font-weight: 600;
    font-size: 20px;
  }

  .home_services,
  .home_about {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .home_about {
    flex-direction: column-reverse;
  }

  .home_services_image img,
  .home_about img {
    width: 100%;
  }

  .home_services_image,
  .home_about_image {
    margin-right: 0;
    margin-top: -30px;
  }

  .home_about_image img {
    margin-left: 0 !important;
  }

  .contact_list ul li {
    font-size: 18px;
  }

  .contact_list {
    margin-top: 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 768.98px) {
  .hero_container {
    height: 450px;
  }

  .home_services {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .home_services_image img {
    width: 100%;
  }

  .home_services_image {
    margin-right: 0;
    margin-top: -30px;
  }

  .about_us {
    padding-top: 0;
  }

  .home_about_image {
    margin-top: 12px;
  }

  .home_about {
    margin-top: -10px;
  }
}

/* Medium devices (tablets, 769px and up) */

@media (min-width: 769px) and (max-width: 991.98px) {
  .hero_container {
    height: 450px;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1366px) {
}

/* Extra large screens */
@media (min-width: 1367px) {
}

/* Ipad Pro */

@media (width: 1024px) {
  .hero_container {
    height: 550px;
  }

  .about_us {
    padding-top: 0;
  }

  .home_about_image {
    margin-top: 12px;
  }

  .home_about {
    margin-top: -10px;
  }
}
